body
{
    margin: 30px;
    padding: 15px;
}
.home-page-container { 
    height: 80%;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(186, 213, 245);
    background-size: cover;
}

h1 { 
    color: rgb(15, 84, 95);
    font-size:35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

h2 {
    color: rgb(15, 84, 95);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

p { color: rgb(15, 84, 95);
    font-size:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


@media screen and (max-width:1024px)
{
    body
{
    margin:25px;
    padding:10px;
}
.home-page-container {
    height:80%;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(240, 191, 243);
    background-size: cover;
}

h1 {
    color: rgb(14,92,46);
    font-size:15px;
    font-family:'Courier New', Courier, monospace
}

p {
    color: rgb(14,92,46);
    font-size:15px;
}
}
@media screen and (max-width: 768px)
{
    body
{
    margin:20px;
    padding:12px;
}
    .home-page-container {
        height:80%;
        width:80%;
        display:flex;
        flex-wrap:wrap;
        background-color: rgb(250, 252, 207);
        background-size:cover;
    }

    h1 {
        color:rgb(92,63,14);
        font-size:40px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

    }

    h2 {
        color: rgb(92,63,14);
        font-size:20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    p {
        color:rgb(92,63,14);
        font-size:10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}
@media screen and (max-width: 600px)
{
    body
{
    margin:40px;
    padding:25px;
}
    .home-page-container {
        height:80%;
        width:80%;
        display:flex;
        background-color: rgb(110, 254, 218);
        background-size: cover;
    }

    h1 {
        color:rgb(29,80,9);
        font-size:20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    h2 {
        color:rgb(29,80,0);
        font-size:10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    p {
        color:rgb(29,80,0);
        font-size:7px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
    }
}
@media screen and (max-width:480px)
{
    body
{
    margin:10px;
    padding:15px;
}
    .home-page-container {
        height:80%;
        width:80%;
        display:flex;
        background-color: rgb(161,177,242);
        background-size: cover;
    }

    h1 {
        color:rgb(211,26,125);
        font-size:37px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    h2 {
        color:rgb(211,26,125);
        font-size:22px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    p {
        color:rgb(211,26,125);
        font-size:17px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
}
@media screen and (max-width:320px)